.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-justify {
  text-align: justify;
}

.align-content-center {
    align-content: center;
}

.align-items-center {
    align-items: center;
}

.align-self-center {
  align-self: center;
}

.order-second {
  @media (max-width: $width-mobile) {
    order: 2;
  }
}
