// Colors
$white: #fff;
$whiteMedium: #f8f8f8;
$green: #479e00;
$greenHard: #214604;
$redLight: #E48681;
$redMedium: #F85E58;
$redHard: #B32C24;
$black: #000;
$color-pattern: #fce6be;
$color-pattern-2: #e7edfa;
$color-border: rgba(0,0,0,0.3);

// Fonts
$caveat: 'Caveat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$merry: 'Merriweather', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$bukyvede: 'Bukyvede', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

// Sizes
$radius-primary: .4rem;

$text-shadow-size-small: 0.5px 0.5px;
$text-shadow-size-medium: 1px 1px;
$text-shadow-size-big: 2px 2px;

$width-small-mobile: 500px;
$width-mobile: 640px;
$width-tablet: 920px;
